<h1><%= @post.title %>, <%= @post.description %></h1>

<ul>
  <li><%= @post.title %></li>
  <li><%= @post.description %></li>
</ul>

<p><a href="/places/<%= @post.place.id %>">Back to <%= @post.place.title %></a></p>