<h1><%= @post.title %>, <%= @post.description %></h1>

<ul>
  <p><li><%= @post.title %></li></p>
  
 <p> <li><%= @post.description %></li></p>
</ul>

<p><a href="/places/<%= @post.place.id %>">Back to <%= @post.place.title %></a></p>